# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build/cache
*.tsbuildinfo
dist/
.vite/
.env.local

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
