<div class="sm-field sm-col">
  <label for="semesterStart" id="labelSemesterStart"></label>
  <input type="date" id="semesterStart" class="save-state sm-input" />
</div>
<div class="sm-field sm-col">
  <label for="semesterEnd" id="labelSemesterEnd"></label>
  <input type="date" id="semesterEnd" class="save-state sm-input" />
</div>
<div class="sm-field sm-col">
  <label id="labelDrivingTimeTo"></label>
  <div class="sm-row">
    <input type="number" id="drivingTimeToHours" class="save-state sm-input sm-time" min="0" />
    <input type="number" id="drivingTimeToMinutes" class="save-state sm-input sm-time" min="0" max="59" />
  </div>
</div>
<div class="sm-field sm-col">
  <label id="labelDrivingTimeFrom"></label>
  <div class="sm-row">
    <input type="number" id="drivingTimeFromHours" class="save-state sm-input sm-time" min="0" />
    <input type="number" id="drivingTimeFromMinutes" class="save-state sm-input sm-time" min="0" max="59" />
  </div>
</div>
<div class="sm-field sm-col">
  <label for="drivingEmoji" id="labelDrivingEmoji"></label>
  <input type="text" id="drivingEmoji" class="save-state sm-input sm-emoji" value="🚗" />
</div>
<div class="sm-field sm-col">
  <label id="labelRamadanMode" for="ramadanMode">Ramadan Mode</label>
  <select id="ramadanMode" class="save-state sm-input">
    <option value="off">Off</option>
    <option value="on">On</option>
  </select>
</div>
