<div class="sm-field sm-col">
  <label for="semesterStart" id="labelSemesterStart"></label>
  <input type="date" id="semesterStart" class="save-state sm-input" />
</div>
<div class="sm-field sm-col">
  <label for="semesterEnd" id="labelSemesterEnd"></label>
  <input type="date" id="semesterEnd" class="save-state sm-input" />
</div>
<div class="sm-field sm-col">
  <label id="labelDrivingTimeTo"></label>
  <div class="sm-row">
    <input type="number" id="drivingTimeToHours" class="save-state sm-input sm-time" min="0" />
    <input type="number" id="drivingTimeToMinutes" class="save-state sm-input sm-time" min="0" max="59" />
  </div>
</div>
<div class="sm-field sm-col">
  <label id="labelDrivingTimeFrom"></label>
  <div class="sm-row">
    <input type="number" id="drivingTimeFromHours" class="save-state sm-input sm-time" min="0" />
    <input type="number" id="drivingTimeFromMinutes" class="save-state sm-input sm-time" min="0" max="59" />
  </div>
</div>
<div class="sm-field sm-col">
  <label for="drivingEmoji" id="labelDrivingEmoji"></label>
  <div class="sm-row">
    <input type="text" id="drivingEmoji" class="save-state sm-input sm-emoji" value="🚗" />
    <select id="drivingColorId" class="save-state sm-input sm-color-select">
      <option value="1">Lavender</option>
      <option value="2">Sage</option>
      <option value="3">Grape</option>
      <option value="4">Flamingo</option>
      <option value="5">Banana</option>
      <option value="6">Tangerine</option>
      <option value="7">Peacock</option>
      <option value="8">Graphite</option>
      <option value="9">Blueberry</option>
      <option value="10">Basil</option>
      <option value="11">Tomato</option>
    </select>
  </div>
</div>
<div class="sm-field sm-col">
  <label id="labelRamadanMode" for="ramadanMode">Ramadan Schedule</label>
  <select id="ramadanMode" class="save-state sm-input">
    <option id="ramadanModeOptionOff" value="off">No Ramadan Schedule</option>
    <option id="ramadanModeOptionEngineering" value="engineering">All Colleges (Ramadan 1447)</option>
    <option id="ramadanModeOptionFirstYear" value="firstYear">1st Year</option>
  </select>
</div>
